body {
    font-family: 'Roboto', sans-serif;
}
.comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.comments-items {
    background-color: antiquewhite;
    padding: 20px;
}